body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.profile {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.notification {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.username {
    font-weight: bold;
    cursor: pointer;
    color: palevioletred;
}


.username:hover {
    color: blue;
    text-decoration: underline;
}

input, button {
    margin: 8px;
    padding: 8px;
}

button {
    cursor: pointer;
    color: rgb(144, 225, 252);
    background-color: rgb(0, 0, 0);
    border-radius: 30%;
}

button:hover {
    background-color: rebeccapurple;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
}

th, td {
    border: 2.5px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background-color: wheat;
    
}

